<html>
    <head>
        <title>Danny Shin</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Welcome to Danny's Blog</a></h1>
        </div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
            {% for post in posts %}
              <div>
                    <p>published: {{ post.published_date }}</p>
                    <h1><a href="">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
            {% endfor %}
        <div>
            <p>published: 30.08.2018</p>
            <h2><a href="">My first post</a></h2>
            <p>I am so excited to be learning how to make a website!</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>A few difficulties and errors along the road, but I am very pleased as to how far I have come!</p>
        </div>
        <div>
            <p>published: 30.08.2018</p>
            <h2><a href="">My Third post</a></h2>
            <p>Looking forward to learning more about Django+HTML+Python!</p>
        </div>
    </body>
</html>